<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gandalf</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
      <a class="navbar-brand" href="/">Gandalf</a>
      <div id="navbar">
        <%= if current_user(@conn) do %>
          <nav class="nav navbar-nav float-xs-left">
            <%= link "Locations", to: location_path(@conn, :index), class: "nav-item nav-link" %>
            <%= link "Users", to: user_path(@conn, :index), class: "nav-item nav-link" %>
            <%= link "Devices", to: device_path(@conn, :index), class: "nav-item nav-link" %>
          </nav>

          <span class="navbar-text float-xs-right text-muted">
            <%= link "Logout", to: auth_path(@conn, :delete), method: "delete", class: "btn btn-outline-danger btn-sm align-middle" %>
          </span>
        <% else %>
          <span class="navbar-text float-xs-right text-muted">
            <%= link "Login", to: auth_path(@conn, :request, "google"), class: "btn btn-outline-success btn-sm align-middle" %>
          </span>

        <% end %>
      </div>
    </nav>

    <main class="container-fluid" role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= render @view_module, @view_template, assigns %>
    </main>


  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
