<h3>
  Events
  <small>(<%= Enum.count(@events)%>)</small>
</h3>
<table class="table">
  <thead><tr>
    <th>Status</th>
    <th>From</th>
    <th>Til</th>
    <th>Detected</th>
  </tr></thead>
  <%= for event <- @events do %>
    <tr>
      <td><%= offline_icon event.event_type %></td>
      <td><%= event.started_at %></td>
      <td><%= event.ended_at %></td>
      <td><%= timeago_tag(event.inserted_at) %></td>
    </tr>
  <% end %>
</table>