.device-up {
  color: green;
}

.device-down {
  color: red;
}

.event-bar{
  box-sizing: border-box;
  height: 100px;
  background-color: #eee;
  position: relative;
}

.event-bar span {
  position: absolute;;
  height:100px;
  display: block;
}

.event-bar span.online, .event-bar span.active  {
  background-color: #34d034;
}
