<h2>Edit collector</h2>

<%= render "form.html", changeset: @changeset,
                        location: @location, 
                        action: location_collector_path(@conn, :update, @collector) %>

<%= link "Back", to: location_collector_path(@conn, :index, @collector.id) %>
